body{
  background-color: #FF9400;
}
/*nav bar*/
#main-nav{
  position:fixed;
  top:0px;
  left:0px;
  display:flex;
  flex-direction: row;
  width:100%;
  height:100px;
  justify-content: space-around;
  align-items: center;
  background-color:#932192;
  margin:0px;
  border-bottom: 2px solid white;
}

#main-nav a{
  font-size:1.5em;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
}

#main-nav a:hover{
  text-decoration: underline;
}

.containerOne{
  margin-top:115px;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
}
button{
  border: 2px solid #932192;
  font-size: 20px;
  color: #932192;
  height: 60px;
  width: 200px;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
  background-color: #FF9400 ;
  margin-bottom: 10px;
}
button:hover{
  background-color: #932192;
  border-color: white;
  color: white;
}
/*main page*/

/*ABOUT PAGE -- gold: #a28848 */
#about {

}
.about {
  color: #932192;
  text-align: center;
}
#linkOut [type="button"] {
  border: 2px solid #932192;
  font-size: 20px;
  color: #932192;
  height: 60px;
  width: 200px;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
  background-color: #FF9400 ;
  margin-bottom: 10px;
}
#linkOut [type="button"]:hover{
  background-color: #932192;
  border-color: white;
  color: white;
}
#grammyVoting {
  width: 50%;
}

/*NOMINATIONS PAGE -- gold: #a28848 */
#nomTitle {
  color: rgba(250,250,250,0.9);
  text-align: center;
}
