body{
  background-color: #ff9900;
}

#main-nav{
  position:fixed;
  top:0px;
  left:0px;
  display:flex;
  flex-direction: row;
  width:100%;
  height:100px;
  justify-content: space-around;
  align-items: center;
  background-color:#800080;
  margin:0px;
  border-bottom: 2px solid white;
}

#main-nav a{
  font-size:1.5em;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
}

#main-nav a:hover{
  text-decoration: underline;
}
