body{
  background-color: #FF9400;
  margin:0px;
  color: #932192;
  font-family:Copperplate, fantasy;
}
/*nav bar*/
#main-nav{
  position:fixed;
  top:0px;
  left:0px;
  display:flex;
  flex-direction: row;
  width:100%;
  height:100px;
  justify-content: space-around;
  align-items: center;
  background-color:#932192;
  margin:0px;
  border-bottom: 2px solid white;
  z-index: 2;
}

#main-nav a{
  font-size:1.5em;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
}

#main-nav a:hover{
  text-decoration: underline;
}

.containerOne{
  margin-top:100px;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
}
.first-text{
  color:white;
}

#main-container{
  padding:0px;
  width:100%;
  height:100%;
  margin-left:0px;
  margin-right:0px;
}

#main-container img{
  width:100%;
  height:100%;
  position: absolute;
  top:0px;
  z-index:-1;
}
#main-content{
  z-index: 1;
  text-align: center;
  font-size:3.0em;
}
#main-content p{
  margin:0px;
}
#title{
  position:relative;
  top:10px;
}
#countdown{
  position:absolute;
  top:725px;
  left:425px;

}
#stream{
  position:absolute;
  left:625px;
  right: auto;
  top:650px;
}

button{
  border: 2px solid #932192;
  font-size: 20px;
  color: #932192;
  height: 60px;
  width: 200px;
  font-family: Copperplate, fantasy;
  font-weight: lighter;
  background-color:white;
  margin-bottom: 10px;
}
button:hover{
  background-color: #932192;
  border-color: white;
  color: white;
}
